<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <script defer>
        

    </script>

</head>
<body>
    <form action="logout" method="post">

        <header class="header">
            <ul>
                <li><box-icon name='user'></box-icon></li>
                <li><p><%= name %></p></li>
                <li><p><%= login %></p></li>
                
            </ul>
            <button class="logout" type="submit" name="logout"><box-icon name='log-out'></box-icon></button>
        </header>
    </form>
    <button class="btnTeste" onclick="teste()">Teste</button>
</body>
</html>